:root {
  --orange: #fb8f1d;
  --gray: #b8becd;
  --bold: #000000;
  --black: #202336;
  --white: #ffffff;
  --dark-gray: #7d7987;
  --footer-gray: #f9f9fb;
  --footer-gray-text: #848484;
  --footer-gray-divider: #C4C4C4;
  --select-text: #4A4C53;
  --hr-color: #C4C4C4;
}
