include ../../../blocks/components/box/box
- 
  var exploreData = {
    title: "A new way to explore the world",
    text: "For decades travellers have reached for Lonely Planet books when looking to plan and execute their perfect trip, but now, they can also let Lonely Planet Experiences lead the way",
    buttonText: "Learn more"
  }
+box('../../../img/svg/explore.png', exploreData, 'explore')