include ../../../blocks/components/btn/btn
include ../../../blocks/components/box/box
- 
  var guidesData = {
    title: "Guides by Thousand Sunny",
    text: "Packed with tips and advice from our on-the-ground experts, our city guides app (iOS and Android) is the ultimate resource before and during a trip.",
    buttonText: "Download"
  }
+box('../../../img/svg/guides.png', guidesData, 'guides')