mixin destinations-card(item)
    .destinations-card
        img.destinations-card__img(src=item.img alt='')
        .destinations-card__content
            p.destinations-card__title= item.title
            p.destinations-card__text= item.text